/* Tema LIGHT */
.light {
    --light-text: #050534;
    --light-bg: #F7F7FF;
    --light-card: #F2F2FF;
    /*utilizada para los botones*/
    --light-main: #C1C0FF;
    /*utilizada para los inputs, el fondo de la tab, iconos y status*/
    --light-main2: #DCDBFF;
    /*utilizada para outlines/bordes*/
    --light-outline: #DCDBFF;
    /*utilizado para la seleccion del tab, botón inicio de sesión y registro*/
    --light-accent: #5451FF;
    --light-placeholder: #737373;
    --light-chart1: #FBD781;
    --light-chart2: #FFB703;
    --light-chart3: #AA7A02;
    /*utilizado para status pendiente, limpieza y mantenimiento*/
    --light-status-pending: #FF8D28;
    /*utilizado para status completado y disponible*/
    --light-status-completed: #16BC00;
    /*utilizado para status ocupado y no disponible*/
    --light-status-ocupied: #AC0C0C;
    --icono-navbar-selected: #F7F7FF;
}

/* Tema DARK */
.dark {
    --light-text: #F7F7FF;
    --light-bg: #020617;
    --light-card: #0F172A;
    /*utilizada para los botones*/
    --light-main: #2D2B9A;
    /*utilizada para outline/contorno*/
    --light-outline: #334155;
    /*utilizada para el fondo de la tab, inputs, iconos y status*/
    --light-main2: #121256;
    /*utilizado para la seleccion del tab*/
    --light-accent: #4947E4;
    --light-placeholder: #8E8E93;
    --light-chart1: #FBD781;
    --light-chart2: #FFB703;
    --light-chart3: #AA7A02;
    /*utilizado para status pendiente, limpieza y mantenimiento*/
    --light-status-pending: #FF8D28;
    /*utilizado para status completado y disponible*/
    --light-status-completed: #16BC00;
    /*utilizado para status ocupado y no disponible*/
    --light-status-ocupied: #AC0C0C;
}